/* CSS Document */

html {
    background-color: black;
}

body {
    background-color: white;
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Josefin Slab', serif;
    position: relative;
    overflow-y: hidden;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4.5em;
}

h3 {
    font-size: 4em;
}

h4 {
    font-size: 3.5em;
}

h5 {
    font-size: 3em;
}

h6 {
    font-size: 2.5em;
}

a {
    color: black;
}

a,
button {
    text-decoration: none;
}

img {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

nav,
.nav_button,
.nav_button_close,
.nav_overlay,
.loading {
    position: fixed;
    opacity: 0;
}

.nav_button:hover {
    border-color: limegreen !important;
}

.loading {
    opacity: 1;
    pointer-events: none;
    background-color: black;
    z-index: 1000;
}

.nojs {
     display: none !important;
}

nav {
    z-index: 100;
    width: 300px;
    height: 100vh;
    opacity: 1;
    background-color: whitesmoke;
    left: -300px;
}

nav ul,
header section {
    list-style-type: none;
    text-align: center;
}

nav ul {
    margin-top: 220px;
    padding: 0;
}

nav li {
    width: 100%;
    height: 50px !important;
    padding: 10px 0 10px 0;
    border-left: 0px;
}

nav li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

nav li:before,
nav li:after {
    height: 30px;
    width: 50px;
    border-left: black 0px solid;
    content: "";
    position: absolute;
    opacity: 0;
}

nav li:hover:before,
nav li:hover:after {
    border-left: black 1px solid;
    opacity: 1;
}

nav li:before {
    left: 50px;
    transform: translateY(-50px);
}

nav li:after {
    right: 0px;
    transform: translateY(50px);
}

nav li:hover:after,
nav li:hover:before {
    transform: translateY(0);
}

nav li:hover:before {
    left: 50px;
}

nav li:hover:after {
    right: 0px;
}

nav p {
    font-size: 1.5em;
    position: relative;
}

.numerals {
    font-family: 'Cardo', serif;
    font-size: 1.2em;
    position: absolute;
    top: -5px;
    left: 340px;
    z-index: 100;
    opacity: .1;
    color: white;
    border: none !important;
}

nav li:hover .numerals {
    opacity: 1;
}

.numactive {
    color: black;
}

.nav_overlay {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    pointer-events: none;
}

.nav_button,
.nav_button_close {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #220323;
    left: 20px;
    z-index: 101;
    cursor: pointer;
    opacity: 1;
}

.nav_button,
.nav_button_close {
    top: 20px;
}

.nav_button {
    background-color: transparent;
    border: white solid 2px;
}

.nav_button p {
    text-align: center;
    font-size: 0.8em;
    margin: 19.5px 0 0 0;
}

.nav_button_close {
    background-image: url("../resources/icons/menu-close.png");
    background-color: transparent;
    border-radius: 0;
    transform: rotate(60deg);
    opacity: 0;
    pointer-events: none;
}

.night_mode {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 80px;
}

.night_mode p,
.night_mode i {
    font-size: 18px;
    margin: 0;
    color: black;
}

.night_mode i {
    font-size: 36px;
    position: relative;
    margin: 15px 120px 15px 120px;
    cursor: pointer;
}

.night_mode i:hover {
    color: limegreen;
}

@media (max-width:1600px) {
    nav ul {
        margin-top: 80px;
    }
    nav li {
        padding: 0;
    }
    .night_mode {
        margin: 30px 0 20px 0;
    }
    #dark {
        top: -88px;
    }
}

header,
header section,
.nav_overlay,
nav li,
.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    position: relative;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url("../resources/images/header.jpg");
    position: absolute;
    filter: blur(4px);
    transform: scale(1.05);
    animation: huerotate 10s infinite ease-in-out;
    z-index: 1;
}

@keyframes huerotate {
    0% {
        filter: hue-rotate(0) blur(7px);
    }
    50% {
        filter: hue-rotate(50deg) blur(10px);
    }
    75% {
        filter: hue-rotate(25deg) blur(5px);
    }
    100% {
        filter: hue-rotate(0) blur(7px);
    }
}

main {
    width: 100vw;
    height: 100%;
    background-color: whitesmoke;
    color: black;
}

.main_invert {
    background-color: #0a0a0a;
    color: whitesmoke;
}

header h6 {
    font-weight: 300;
}

header section {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: 2;
    color: white !important;
}

header hr,
.chapter hr {
    width: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

header aside {
    position: absolute;
    bottom: 20px;
    opacity: 0.4;
    cursor: pointer;
}

header aside:hover {
    opacity: 0.9;
}

header i {
    font-size: 30px;
    opacity: 0;
    position: relative;
    animation: arrow-float ease-in-out infinite 2.5s;
}

header aside:hover > i {
    opacity: 0.8;
}

@keyframes arrow-float {
    0% {
        bottom: 5px;
    }
    50% {
        bottom: -5px;
    }
    100% {
        bottom: 5px;
    }
}

.section_overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
}

.chapter {
    background-color: inherit;
    color: inherit;
    height: 100%;
    position: relative;
    z-index: 5;
}

.chapter hr {
    margin: 40px 0 40px 0;
    text-align: left;
    border-color: limegreen;
}

.chapter h6 {
    color: inherit;
}

.chapter i {
    text-align: center;
}

.chapter-invert {
    background-color: black;
    color: white;
}

.chapter_img {
    width: 100%;
    height: 500px;
}

#para_index_1 {
    background-image: url("../resources/images/p_bg1.jpg");
}

#para_part3_1 {
    background-image: url("../resources/images/p_bg2.jpg");
}

main article, #p_bg1 aside {
    width: 55vw;
    padding: 150px 0 100px 0;
    margin: auto;
    background-color: inherit;
    color: inherit;
    font-size: 20px;
    line-height: 50px;
}

#p1main article {
    padding-bottom: 150px;
}

#p_bg1 aside {
    margin-top: 5px;
    padding: 30px 10px 30px 10px;
    color: white;
    border-radius: 5px;
}

#p_bg1 #tl, #p_bg1 #bl {
    width: 40vw;
    margin-right: 40%;
}

#p_bg1 #tr, #p_bg1 #br {
    width: 40vw;
    margin-left: 40%;
}

.next_part {
    position: relative;
    padding-bottom: 150px;
    padding-top: 0;
}

.next_part h1,
.next_part h6 {
    text-align: center;
    margin: 15px 20% 10px 20%;
    cursor: pointer;
    border: 1px solid black;
    padding: 45px;
    border-radius: 10px;
}

.next_part h6 {
    font-size: 1.5em;
}

.next_part h1:hover {
    border: 1px solid limegreen;
}

#np_2 {
    background-color: transparent !important;
    margin-top: 50px;
    padding-top: 100px;
    border-radius: 10px;
}

.next_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    filter: saturate(0%);
    z-index: 105;
}

#index_overlay {
    background-image: url("../resources/images/1566426.jpg");
}

#p_bg1, #part2overlay {
    background-image: url("../resources/images/Park_Trees_CG_Path_Trail_art_1920x1080.jpg");
}

#part3overlay {
    background-image: url("../resources/images/art_artwork_artistic_city_cities_fantasy_architecture_building_original_2560x1440.jpg");
}


.next_hidden {
    left: 100vw;
}

.next_overlay a {
    color: white;
    padding: 30px;
    font-family: inherit;
    position: absolute;
    border: white solid 1px;
    background-color: rgba(0, 0, 0, 0.55);
    cursor: pointer;
}

.next_overlay a:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.p_background {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.col-2 {
    height: 700px;
    position: relative;
}

.col-2-ele, 
.col-2-img {
    width: 45%;
    float: left;
    padding: 5px;
}

.col-2-img {
    height: 700px;
    background-color: green;
}

footer {
    width: 100%;
    height: 70px;
    border-top: 1px solid black;
    color: black;
    position: relative;
    background-color: whitesmoke;
}

footer p {
    position: absolute;
}

/*
@media (max-width:1024px) {
    .to-top {
        display: none;
    }
}
*/

/* sub 800px */

@media (max-width:800px) {
    .numerals {
        display: none;
    }
    nav ul {
        margin-top: 100px;
    }
}

.to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    right: -52px;
    bottom: 50px;
    z-index: 5;
    cursor: pointer;
    border: 1px whitesmoke solid;
}

.to-top i {
    font-size: 26px;
    text-align: center;
    position: relative;
    top: 23%;
    color: whitesmoke;
}

/* Utilities */

.bgstd {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.no_overflow {
    overflow: hidden !important;
}

.textcontrast {
    color: limegreen;
    font-weight: 800;
}

.visible {
    opacity: 1 !important;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.menuvisible {
    left: 0px;
    opacity: 1;
}

.menuopen {
    margin-left: 300px;
    width: 90% !important;
    pointer-events: all;
}

.menutransform-open {
    opacity: 1;
    transform: rotate(0);
    pointer-events: all;
    transform: scale(0.9);
}

.nav_button_hidden {
    opacity: 0;
    transform: rotate(-60deg);
    pointer-events: none;
}

.centerx, .centerxy {
    left: 50%;
    transform: translateX(-50%);
}

.centery, .centerxy {
    top: 47.5%;
    transform: translateY(-50%);
}

.centerxy {
    transform: translate(-50%) !important;
}

.verticalcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bold {
    font-weight: 800;
}

.no_padding {
    padding: 0;
}

.no_margin {
    margin: 0 !important;
}

mstransition,
nav,
.nav_overlay,
#main,
.nav_button,
.nav_button_close,
.menutransform-open,
nav li:before,
nav li:after,
nav li:hover:before,
nav li:hover:after,
nav li:hover .numerals,
.numerals,
header i,
.to-top,
.chapter,
#light,
#dark,
.next_hidden,
.next_overlay,
.next_overlay a,
.p_background {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

nav li,
nav li:hover,
header aside,
.night_mode i,
.next_part h1 {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.loading {
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}