/* CSS Document */

body {
    background-color: white;
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Josefin Slab', serif;
    position: relative;
}

h1 {
    font-size: 5em;
}
h2 {
    font-size: 4.5em;
}

h3 {
    font-size: 4em;
}

h4 {
    font-size: 3.5em;
}

h5 {
    font-size: 3em;
}

h6 {
    font-size: 2.5em;
}

.loading {
    background-color: black;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: #333333;
}

button {
    text-decoration: none;
}

nav, 
.nav_button,
.nav_button_close, 
.nav_overlay,
.loading {
    position: fixed;
    opacity: 0;
}

.nav_button:hover {
    border-color: orangered !important;

}

.loading {
    opacity: 1;
    pointer-events: none;
}

nav {
    z-index: 100;
    width: 300px;
    height: 100vh;
    opacity: 1;
    background-color: whitesmoke;
    left: -300px;
}

nav ul, header section {
    list-style-type: none;
    text-align: center;
}

nav ul {
    margin-top: 220px;
    padding: 0;
}

nav li {
    width: 100%;
    height: 50px !important;
    padding: 10px 0 10px 0;
    border-left: 0px;
}

nav li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

nav li:before,
nav li:after {
    height: 30px;
    width: 50px;
    border-left: black 0px solid;
    content: "";
    position: absolute;
    opacity: 0;
}

nav li:hover:before,
nav li:hover:after {
    border-left: black 1px solid;
    opacity: 1;
}

nav li:before {
    left: 50px;
    transform: translateY(-50px);
}

nav li:after {
    right: 0px;
    transform: translateY(50px);
}

nav li:hover:after,
nav li:hover:before{
    transform: translateY(0);
}

nav li:hover:before {
    left: 50px;
}

nav li:hover:after {
    right: 0px;
}

nav p {
    font-size: 1.5em;
    position: relative;
}

.numerals {
    font-family: 'Cardo', serif;
    font-size: 1.2em;
    position: absolute;
    top: -5px;
    left: 350px;
    z-index: 100;
    opacity: .1;
    color: white;
    border: none !important;
}

nav li:hover .numerals {
    opacity: 1;
}

.numactive {
    color:black;
}

.nav_overlay {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    pointer-events: none;
}

.nav_button, .nav_button_close {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #220323;
    left: 20px;
    top: 20px;
    z-index: 101;
    cursor: pointer;
    opacity: 1;
}

.nav_button {
    background-color: transparent;
    border: white solid 2px;
}

.nav_button p {
    text-align: center;
    font-size: 0.8em;
    margin: 19.5px 0 0 0;
}

.nav_button_close {
    background-image: url("../resources/icons/menu-close.png");
    background-color: transparent;
    border-radius: 0;
    transform: rotate(60deg);
    opacity: 0;
    pointer-events: none;
}

.night_mode {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 80px;
}

.night_mode p, .night_mode i {
    font-size: 18px;
    margin: 0;
    color: black;
}

.night_mode i {
    font-size: 36px;
    position: relative;
    margin: 15px 120px 15px 120px;
    cursor: pointer;
}

.night_mode i:hover {
    color: orangered;
}

header, 
header section, 
.nav_overlay,
nav li,
.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    position: relative;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url("../resources/images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    filter:blur(4px);
    transform: scale(1.05);
    animation: huerotate 10s infinite ease-in-out;
    z-index: 1;
}

@keyframes huerotate {
    0% {
        filter: hue-rotate(320deg) blur(7px);
    }
    50% {
        filter: hue-rotate(260deg) blur(10px);
    }
    75% {
        filter: hue-rotate(280deg) blur(5px);
    }
    100% {
        filter: hue-rotate(320deg) blur(7px);
    }
}

main {
    width: 100vw;
    height: 100%;
    background-color: whitesmoke;
    color: black;
}

.main_invert {
    background-color: #0a0a0a;
    color: whitesmoke;
}

header h6 {
    font-weight: 300;
    margin: 0;
}

header section {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: 2;
    color: white !important;
}

header hr, .chapter hr {
    width: 5%;
    margin-top: 0;
    margin-bottom: 30px;
}

header aside{
    position: absolute;
    bottom: 20px;
    opacity: 0.4;
    cursor: pointer;
}

header aside:hover {
    opacity: 0.9;
}

header i {
    font-size: 30px;
    opacity: 0;
    position: relative;
    animation: arrow-float ease-in-out infinite 2.5s;
}

header aside:hover > i {
    opacity: 0.8;
}

@keyframes arrow-float{
    0%{
        bottom: 10px;
    }
    50%{
        bottom: -15px;
    }
    100%{
        bottom: 10px;
    }
}

.chapter {
    background-color: inherit;
    color: inherit;
    height: 100vh;
    position: relative;
    z-index: 5;
}

.chapter hr {
    margin: 40px 0 40px 0;
    text-align: left;
    border-color: orangered;
}

.chapter h6 {
    margin: 0;
    color: inherit;
}

.chapter-invert {
    background-color: black;
    color: white;
}

.chapter-poem {
    width: 55%;
    height: 100%;
    text-align: center;
    padding: 0;
    margin: auto;
}

.chapter-poem article {
    width: 50%;
    float: left;
    font-size: 18px;
    line-height: 25px;
}

main article {
    width: 55vw;
    padding-top: 150px;
    margin: auto;
    background-color:inherit;
    color: inherit;
    font-size: 20px;
    line-height: 50px;
}

/* sub 800px */
@media (max-width:800px) {
    .numerals {
        display: none;
    }

    nav ul {
        margin-top: 100px;
    }
}

.to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    right: -50px;
    bottom: 50px;
    z-index: 5;
    cursor: pointer;
}

.to-top i {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 20%;
}

/* Utilities */
.visible {
    opacity: 1 !important;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.menuvisible {
    left: 0px;
    opacity: 1;
}

.menuopen {
    margin-left:300px;
    width: 90% !important;
}

.menutransform-open {
    opacity: 1;
    transform: rotate(0);
    pointer-events: all;
    transform: scale(0.9);
}

.nav_button_hidden {
    opacity: 0;
    transform: rotate(-60deg);
    pointer-events: none;
}

.centerx {
    left: 50%;
    transform: translateX(-50%);
}

.verticalcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bold {
    font-weight: 800;
}

.no_padding {
    padding: 0;
}

mstransition,
nav,
.nav_overlay,
#main,
.nav_button,
.nav_button_close,
.menutransform-open,
nav li:before,
nav li:after,
nav li:hover:before,
nav li:hover:after,
nav li:hover .numerals,
.numerals,
header i,
.to-top,
.chapter,
#light,
#dark {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

nav li,
nav li:hover,
header aside,
.night_mode i {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;    
}

.loading {
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}